@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

.body__page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: linear-gradient(90deg, rgba(183, 34, 94, 0.9), rgba(16, 163, 204, 0.5));
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 20px;
  width: 600px;
  max-width: 600px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.author {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.anime {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #555;
}

.quote {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 150%;
}

.button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #b53ff0;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.button:focus-visible {
  box-shadow: 0 0 0 2px #666;
}

.button:hover {
  background-color: #b53ff0ae;
}

.button:active {
  transform: scale(0.96);
}